
<h1>Word Shuffle</h1>
  <div class="main_content" ng-controller="AlbumCtrl">
  
  <br>
  <div class="counter">
    <br>
    <strong>Welcome to Word Shuffle! </strong><br>You have 30 seconds to guess the word in the box, GO!
    <br><br><br>

    <div class="counter-text">
    <!-- <button ng-click="stop()">Stop</button>  -->
    <!-- <button ng-click='startTimer()'>Start</button> -->
       {{ counter }}
      </div>
      <!-- <hr> -->
    <button class="button" ng-click='stopTimer()'>Stop</button>
    <div class="timerOut" ng-show="timeRanOut">Sorry, your time ran out, try again!</div>
  </div>



  <div class="play_game_box">
    <h3 class="word"><%= @word_shuffled %></h3>

    <form class="form_height"name="answerForm" ng-submit="submitAnswer()" novalidate>  
      <!-- The models are collecting the data -->
      <label>Answer: </label>  
      <input type="text" ng-model="answer" required ng-minlength="3"/><br> 
      <input id="hidden" type="hidden"  value="<%= @word %>"></input><br>
      <button class="button">Submit</button>  
    </form>

    <div class="winner" ng-show="correct">Congrats!</div>

    <div class="timerOut" ng-show="wrong">No, your shit!</div>
    <br>
    <button class="button"><a href="/">New Game</a></button>
  </div>

</div>

