// Place all the styles related to the hacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  box-sizing: border-box;
  margin: 0 auto;  
  padding: 0px;
  font-color: black;

}


body {
  padding: 40px;
  font-color: black;
  color: black;
  border-radius: 5px;
  max-width: 940px;
  text-align: center;
  background: url('hourglass.png');
}

.main_content{
  font-color: black;
  background-color: gray;

  opacity: 0.7;
  filter: alpha(opacity=40);
/*  width: 1100px;*/
  color: black;
/*  position: center;*/
  padding: 10px;
/*  max-width: 640px;*/
/*  position: fixed;*/
  top: 50%;
  right: 50%;
}
.play_game_box{
  font-color: black;
  padding: 100px;
}

.word{

  padding: 100px;
  font-color: black;
}

.counter {
  text-align: center;
  border: 1px solid black;
  font-size: 70px;
  width: 200px;
  height: 100px;
  font-family: Verdana;
/*  position: fixed;*/
/*  top: 60%;
  left: 75%;*/
  font-color: black;

}

h1 {
  font-size: 60px;
  text-align: center;
  padding: 40px;
  font-color: black;
}

div {
  text-align: center;
}

h3 {
  font-size: 50px;
  text-align: center;
  color: black;
}

input {
  text-align: center;
}

p {
  text-align: center;
}

aside {
  text-align: center;
}

form {
  text-align: center;
}